# Исследование надежности заемщиков

**Задание 1. Импорт библиотекb pandas. Считывание данных из csv-файла в датафрейм и сохраненние в переменную `data`.

In [ ]:
#!pip install -r requirements.txt
# при необходимости можно загрузить файл с версиями библиотек, использованными в проекте.

In [3]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [ ]:
data.head(20)
#вывод 20 строк датасета

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [ ]:
data.info()
#чтение основной информации

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()
    #заполнение пропусков столбца income_type медианным значением

### Обработка аномальных значений

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**В столбце `children` есть два аномальных значения. Удалениее строк, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [14]:
data['education'] = data['education'].str.lower()

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**На основании диапазонов, создание в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используем собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Функция, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
table_r = data.pivot_table(index = ['children'], values = 'debt', aggfunc = {'count', 'sum'}) 
table_r = table_r.rename(columns={'count':'total', 'sum':'target'})
table_r['value'] = round(table_r['target']/table_r['total'], 3)
table_r = table_r.sort_values(by='value', ascending=True)
print (table_r)

          total  target  value
children
5             9       0  0.000
0         14091    1063  0.075
3           330      27  0.082
1          4808     444  0.092
2          2052     194  0.095
4            41       4  0.098

**Вывод: Для ответа на данный вопрос создала сводную таблицу, чтобы проследить имеет ли влияние количество детей на возвращение кредита в срок. В выборке представлены заёмщики с количеством детей от 0 до 5. В соответствии с полученными данными можно сделать следующие выводы**:
1) Количество заёмщиков, у которых 5 детей - 9. Из-за небольшой выборки мы не можем получить верную статистику по возврату кредита в срок, так как данная статистика может быть неверна. (Ведь у людей с большим количеством детей чаще могут возникать непредвиденные расходы, в целом может наблюдаться высокая финансовая нагрузка, поэтому у них могут чаще появляться проблемы с возвратом кредита). Либо в данном случае бОльшее количество детей говорит о бОльшей ответственности заёмщика.

2) Проблемы по возврату кредита в срок также чаще встречаются у людей с количеством детей от 1 до 4 (также ввиду того, что могут возникать непредвиденные расходы или в целом у них большая финансовая нагрузка). Возможно, на возврат кредита в данном случае могут влиять и другие факторы, потому что не прослеживается чёткая закономерность.
Например, у заёмщиков с 3-мя детьми проблем со своевременным возвратом меньше, чем у заёмщиков с двумя детьми, хотя, возможно, должно быть наоборот).

3) Меньше всего проблем по возврату кредита в срок возникает у заёмщиков без детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
table_r = data.pivot_table(index = ['family_status'], values = 'debt', aggfunc = {'count', 'sum'}) 
table_r = table_r.rename(columns={'count':'total', 'sum':'target'})
table_r['value'] = round(table_r['target']/table_r['total'], 3)
table_r = table_r.sort_values(by='value', ascending=True)
print (table_r)

                       total  target  value
family_status
вдовец / вдова           951      63  0.066
в разводе               1189      84  0.071
женат / замужем        12261     927  0.076
гражданский брак        4134     385  0.093
Не женат / не замужем   2796     273  0.098

**Вывод:**
 Создала сводную таблицу, чтобы проверить гипотезу, есть ли закономерность между семейным положением заёмщика и его платёжеспособностью.

1) Люди с семейным положением вдовец/вдова, в разводе имеет меньшую долю просрочки платежа. Это может говорить о том, что данные люди могут быть в возрасте, а значит более ответственные, состоятельные, умеющие распоряжаться деньгами, также возможно им могут помогать с оплатами их дети.

2) Женатые/замужние заёмщики обладают средней платежеспособностью по сравнению с остальными категориями. Причины, по которым они в целом могут выплачивать вовремя - совместный бюджет, что облегчает финансовую нагрузку. А к причинам, по которым они могут допускать просрочки -  это наличие детей, что может приводить к непредвиденным расходам, большой финансовой нагрузке (что наблюдали в предыдущей статистике)

3) К категориям, которые чаще всего допускают просрочки по платежу можно отнести людей, которые не состоят в законном браке, либо находятся в гражданском браке - возможно, у них недостаточный доход, либо же могут влиять другие факторы (более безответственные и так далее).

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
table_r = data.pivot_table(index = ['total_income_category'], values = 'debt', aggfunc = {'count', 'sum'}) 
table_r = table_r.rename(columns={'count':'total', 'sum':'target'})
table_r['value'] = round(table_r['target']/table_r['total']*100, 3)
table_r = table_r.sort_values(by='value', ascending=True)
print (table_r)

                       total  target  value
total_income_category
D                        349      21  6.017
B                       5014     354  7.060
A                         25       2  8.000
C                      15921    1353  8.498
E                         22       2  9.091

**Вывод:** Для наглядности создала сводную таблицу, отсортировала данные по убыванию. Чем больше значение параметра 'value', тем больше доля просрочки платежа.

При ответе на этот вопрос можно не учитывать категории 'A' и 'E', так как их количество составляет примерно 2% от всей выборки.

Тогда можно проводить сравнение среди категорий 'B','C','D'. Для удобства восприятия умножила данные из столбца 'value' на 100, чтобы представить результат в процентах. Можно сделать следующие выводы:

1) Люди с категорией дохода 'D' меньше подвержены стать должниками. Хоть их и меньше по количеству, чем остальных двух категорий, но в процентном соотношении данные заёмщики реже допускали просрочку по платежу. Скорее всего, это люди, состоящие в браке, со стабильным доходом (плюс при совместном бюджете проще выплачивать кредит), возможно, дисциплинированы, боятся пропустить платёж.
    
2) Люди с категорией дохода 'B' имеют средний риск стать должниками, так как некоторые из них могут иметь относительно высокий доход.
    
3) Люди с категорией дохода 'C' имеют больше шансов стать должниками, так как имеют бОльший процент просрочек, но, возможно, это оправдывается тем, что в этой категории почти 16000 заёмщиков, и если бы в двух предыдущих категориях было бы примерно такое же количество клиентов, мы бы могли сделать более точные выводы по надёжности заёмщиков.

4) А также я считаю немаловажным обратить внимание, как распределяются категории:
    
30001–50000 — 'D' - шаг 20 000 руб.;
    
50001–200000 — 'C'- шаг 150 000 руб.;
    
200001–1000000 — 'B' - шаг 800 000 руб.;

Распределение не совсем равномерно, так как, например, в категории 'B' доход может варьировать от 200 000 до 1 000 000 руб. И это может влиять на суммы кредита, на цели кредита, на способность должника возвращать кредит, но в целом, так как их уровень дохода выше при сравнении с другими категориями, это делает их людьми, имеющими средний риск не вернуть деньги в срок.
    
</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
table_r = data.pivot_table(index = ['purpose_category'], values = 'debt', aggfunc = {'count', 'sum'}) 
table_r = table_r.rename(columns={'count':'total', 'sum':'target'})
table_r['value'] = round(table_r['target']/table_r['total'], 3)
table_r = table_r.sort_values(by='value', ascending=True)
print (table_r)

                          total  target  value
purpose_category
операции с недвижимостью  10751     780  0.073
проведение свадьбы         2313     183  0.079
операции с автомобилем     4279     400  0.093
получение образования      3988     369  0.093

**Вывод:** Создала сводную таблицу, где в столбце 'value' рассчитала долю просрочки платежа в зависимости от цели кредитования.

1) Люди, которые берут кредит с целью операций с недвижимостью и на проведение свадьбы, имеют примерно одинаковую долю просрочки платежа, но она ниже, чем у людей, которые берут кредит с целью операций с автомобилем и получение образования. Что может говорить о том, что на операции с недвижимостью чаще всего берут кредит люди, состоящие в браке, которые имеют совместный бюджет (что облегчает оплату) и в целом могут быть ответственными и способны вносить платежи вовремя. А на свадьбу берут кредит люди, стремящиеся к созданию семьи, что тоже может говорить о том, что люди могут быть готовы к ответственности.

2) Люди, которые берут кредит на операции с автомобилем, могут возвращать кредит не вовремя, так как, например, автомобиль может попасть в ДТП, могут произойти поломки, что может приводить к непредвиденным затратам, а, значит, у заёмщика может повышаться финансовая нагрузка, также после серьёзного ДТП у заёмщика в принципе может уже не быть автомобиля, а платить нужно.

3) Кредит, который берётся на образование, также может иметь свои риски, так как, например,чаще всего берут молодые люди, которые могут не иметь стабильный, высокий доход, могут не быть ответственными. Человек может не захотеть продолжать обучение, может быть отчислен, а значит, например, не получить нужную квалификацию и в дальнейшем не устроиться на высокооплачиваемую работу по специальности, чтобы дальше платить кредит.

#### 3.5 Причины появления пропусков в исходных данных.

К причинам возникновения пропусков можно отнести человеческий фактор - если заявка допускает пропуск данных полей, то заёмщик мог просто не указывать эти данные. Но так как кредит всё-таки получен, скорее всего причина в том, что имела место быть техническая проблема. И также пропуски обнаружены в двух категориях - количество дней трудоустройства и общий доход -  значит, пропуск в одной категории может приводить к пропуску во второй.

#### 3.6 Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

Учитывая, что в нашем датасете присутствуют незаполненные данные, среднее арифметическое не будет корректно отражать ситуацию. Медианное значение будет лучше всего, так как оно не так чувствительно к выбросам, его относительно легче посчитать для больших наборов данных.

### Шаг 4: общий вывод.

   
В результате проделанной работы были получены и обработаны данные, проведено исследование надёжности заёмщиков банка.

Были проверены, заполнены пропуски, которые могли возникнуть в результате человеческого фактора, либо технической ошибки. Заполнили их медианным значением, так как оно не чувствительно к выбросам и отражает ситуацию более полно, если сравнивать со средним арифметическим.

Были проверены, удалены дубликаты, данные были подведены под один регистр.

Исправлены некорректные данные, которые могли возникнуть в результате человеческого фактора (опечатки и т.д.),  клиенты были объединены в различные категории по уровню дохода, по целям кредитования.

С помощью применения сводных таблиц были получены данные, по которым можно было сделать выводы о платёжеспособности клиента банка и влияние на неё различных факторов.
    
1) Действительно, наличие детей влияет на риск появления просрочки по кредиту у заёмщика (отсутствие детей согласно полученным данным снижает этот риск ввиду отсутствия непредвиденных затрат в отличие от клиентов с количеством детей от 1 до 4. У них вероятность допустить просрочку выше и это объясняется затратами, необходимыми на содержание детей, например).

2) Клиенты, которые состоят или состояли в браке имеют меньший процент риска допустить просрочку по кредиту, так как они могут являться более дисциплинированными, ответственными. Наличие совместного дохода позволяет легче вносить платежи.

3) Уровень дохода также имеет влияние на возврат кредита. Люди, имеющие относительно средний или высокий уровень дохода могут стать предпочтительными клиентами банка. 

4) Цели, на которые берется кредит, также влияют на платёжеспособность. Цели могут характеризовать, является ли плательщик ответственным, как он распоряжается деньгами, оценивает ли он риски, которые возникают для каждой из целей кредитования. К "серьёзным" целям можно отнести приобретение недвижимости, создание семьи. Исследование подтвердило, что клиенты, которые берут кредиты на эти цели, имеют меньше риск допустить пропуск платежа, чем клиенты, которые брали кредиты на покупку автомобиля, на образование.


Исследование помогло составить портрет клиентов, которые, вероятнее всего, будут предпочитетельными для банка и будут добросовестно вносить платежи. 
    
Это люди, которые состоят в браке (либо стремятся к созданию семьи), не имеющие детей, имеющие средний или высокий уровень дохода и берущие кредит на операции с недвижимостью (либо на свадьбу). 
    
И наоборот, люди, не состоящие в браке, берущие кредит на образование либо на операции с автомобилем, имеющие детей на попечении, имеющие невысокий уровень дохода, могут в будущем допустить просрочку по платежам.

Для подтверждения гипотезы не обязательна совокупность всех перечисленных факторов, но комбинация 2-х или 3-х из них может примерно помочь сделать вывод по платежеспособности заёмщика.

Также стоит учитывать влияние и других факторов, которые в совокупности с проверенными в данном исследовании могут также свидетельствовать о том, способен клиент допустить просрочку или нет.